@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

td {
    border: 1px solid black;
    vertical-align: middle;
    height: 12rem;
    width: 12rem;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);

    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;

    padding: 1rem;
}

td.checked {
    box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.6);
    text-decoration: line-through;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 7.5%;
}
